.dark header {
    background-image: url(../img/bg1-dark.jpg);
}

.dark .features {
    background-color: #222222;
}

.dark .f-title {
    color: #fff;
}

.dark .f-title::after {
    background-color: #fff;
}

.dark .whats-pmmp {
    background: linear-gradient(to right, #232526, #414345);
}

.dark .white-box {
    background-color: #222;
    color: #f2f2f2;
}

.dark .white-box .icon-box {
    background-color: #f2f2f2;
    color: #222;
}

.dark .plugins {
    background-color: #222222;
    color: #f2f2f2;
}

.dark .servers {
    background-color: #222222;
    color: #f2f2f2;
}

.dark .sticky-nav {
    box-shadow: 0px 5px 20px 0px #747474;
}

@media (prefers-color-scheme: dark) {
    header {
        background-image: url(../img/bg1-dark.jpg);
    }
    
    .features {
        background-color: #222222;
    }

    .f-title {
        color: #fff;
    }

    .f-title::after {
        background-color: #fff;
    }
    
    .whats-pmmp {
        background: linear-gradient(to right, #232526, #414345);
    }
    
    .white-box {
        background-color: #222;
        color: #f2f2f2;
    }
    
    .white-box .icon-box {
        background-color: #f2f2f2;
        color: #222;
    }
    
    .plugins {
        background-color: #222222;
        color: #f2f2f2;
    }
    
    .servers {
        background-color: #222222;
        color: #f2f2f2;
    }

    .dark-toggle {
        display: none;
    }

    .sticky-nav {
        box-shadow: 0px 5px 20px 0px #747474;
    }
}