@media only screen and (max-width: 1024px) {
    .row, .title {
        padding: 0px 2%;
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .row, .title {
        padding: 0px 4%;
    }

    .img-box {
        display: none;
    }

    .col-2 {
        width: 100%;
    }

    .center {
        text-align: center;
    }

    .social-media {
        float: none;
        text-align: center;
    }

    .nav {
        display: none;
    }

    .mobile-nav {
        display: inline-block;
    }
    .sticky-nav .mobile-nav {
        margin-top: 15px;
    }

    .nav-img {
        width: 40%;
        margin-top: 15px;
        float: left;
    }

    .dark-toggle {
        left: 90%;
        top: 88%;
    }

}

@media only screen and (max-width: 425px) {
    .col-3 {
        width: 100%;
    }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .p-col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .p-col-3 {
        width: 100%;
    }

    .social-media {
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    .nav-img {
        width: 50%;
        margin-top: 20px;
        float: left;
    }

    .sticky-nav .mobile-nav {
        margin-top: 10px;
        font-size: 90%;
    }

    .server-img {
        height: 35%;
    }

    .dark-toggle {
        left: 85%;
        top: 88%;
    }

}
